{% extends 'base.html' %}

{% block content %}
    {% if posts %}
        <ol>
            {% for post in posts %}
               <h3> <li>{{ post[0] }}</li></h3>
                <span class="badge badge-primary">{{ post[1] }}</span>

                <p><br>Рубрики: </p>
                {% for item in post[2] %}
                    <ul>
                        <li>{{ item }}</li>
                    </ul>
                {% endfor %}
                <hr>
            {% endfor %}
        </ol>
    {% else %}
        <h2>empty</h2>
    {% endif %}
{% endblock %}